<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
</head>
<body style="font-family: monospace; background-color: #1E1E1E; color: #cbd5e0;font-size: 150%; margin: 1%; padding: 2% 4%;">

    <div style="max-width: 600px; margin: 0 auto; ">

        <h2 style="color:#e2e8f0 ; font-size: 200%;padding: 1%;"><span style="color: #C778DD;">#</span>thank you for reaching out!</h2>

        <div style="padding: 1%;">
            Dear {{ name }},
        </div>

        <div style="padding:1%;">
            Thank you for getting in touch! I appreciate you taking the time to contact me. Your message has been received, and I will make sure to respond as soon as possible.
        

        <br>
            In the meantime, feel free to explore more about my work and projects on my <span style="color: #C778DD;">#</span><a href="" style="color: #ffffff; text-decoration:underline;">portfolio-page</a>.</div>
            <div style="padding: 1%;">
            If you have any urgent inquiries, you can also connect with me on 
            <div style="text-align: center;font-family: monospace;white-space: nowrap;padding: 3% 2%;">
      
                <div style="display: flex; padding:1% 5%;text-align: center; justify-content: space-between;">
                <!-- social contacts -->
                <a href="https://linkedin.com/in/sunday-oluwapelumi" style="color:#C778DD;background-color:black;text-align: center;display: flex; text-decoration: none; padding: 2% 3%;border-top-left-radius: 30%;border-bottom-right-radius: 30%;font-size: 90%;">
                   <span style="color:#e2e8f0;">#</span>LinkedIn
                </a>

                <a href="https://x.com/OLUWAPELUM98393" style="color:#C778DD;background-color:black;text-align: center;display: flex; text-decoration: none; padding: 2% 3%;border-top-left-radius: 30%;border-bottom-right-radius: 30%;font-size: 90%;">
                    <span style="color:#e2e8f0;">#</span>X (formerly twitter)
                 </a>
                </div>
                <div style="display: flex; padding:1% 5%;text-align: center; justify-content: space-between;">
                 <a href="https://discord.com/users/oluwapelumi0278" style="color:#C778DD;background-color:black;text-align: center;display: flex; text-decoration: none; padding: 2% 3%;border-top-left-radius: 30%;border-bottom-right-radius: 30%;font-size: 90%;">
                    <span style="color:#e2e8f0;">#</span> Discord
                 </a>

                 <a href="https://wa.link/pu2bit" style="color:#C778DD;background-color:black;text-align: center;display: flex; text-decoration: none; padding: 2% 3%;border-top-left-radius: 30%;border-bottom-right-radius: 30%;font-size: 90%;">
                    <span style="color:#e2e8f0;">#</span>WhatsApp
                 </a>

                 <a href="https://github.com/Oluwapelumi11" style="color:#C778DD;background-color:black;text-align: center;display: flex; text-decoration: none; padding: 2% 3%;border-top-left-radius: 30%;border-bottom-right-radius: 30%;font-size: 90%;">
                    <span style="color:#e2e8f0;">#</span>Github
                 </a>

                </div>


                    
   <!-- end of social contacts -->
            </div>
        </div>

        <div>
            Once again, thank you for reaching out, and I look forward to connecting with you soon!
        </div>

        <div style="margin-top: 1%;">
            Best regards,<br>
            <span style="justify-items: center;display: flex;" >
                <svg width="15" style="margin-right: 1px;" height="15" viewBox="0 0 52 52" fill="#C778DD" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M39 0H26V13H13H0V26V39V52H13H26V39H39H52V26V13V0H39ZM13 39H26V26H39V13H26V26H13V39Z" fill="#C778DD"/>
                </svg>
                Oluwapelumi
            </span>
        </div>

    </div>

</body>
</html>
